.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
    margin: 10px;
}
body{
    margin: 0;
    background-color: palevioletred;
}
h1{
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #73df0d;
    text-align: center;
}
p{
    font-size: 2rem;
    color: #4ecca3;
    font-family: "Indie Flower", cursive;
}

img{
    width: 100%;
}

.bottom{
    padding-top: 30px;
}
.btn{
    background: #4ecca3;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: white;
    font-size: 30px;
    padding:  16px 25px 16px 25px;
    cursor: pointer;
}
.btn:hover{
    background: #232931;
}